.booking-container {
    padding: 30px;
}

.booking-card {
    border: 1px solid rgb(221, 217, 217);
    height: 330px;
    border-radius: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-gap: 18px;
    color: #444;
    justify-content: center; 
}

.booking-avatar {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.booking-details {
    padding: 20px;
}

.cancel {
    font-size: 13px;
}

  