.container {
    width: 50%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    margin: 20px;
    align-items: center;
    background: #f2f2f2;
    flex-direction: column;
}

.form {
  margin: 15px;
  width: 75%;
}

.title {
    // display: block;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.form-actions {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  text-align: center;
 }

 .form-actions:hover {
  background: #1BCB7F;
  color: white;
}

.form-inputs {
   color:    #aaa;
   opacity:  1;
}

.footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}



