<h2>Meet our friends</h2>
<ul class= "list-unstyled pl-3">
  <% @friends.each do |friend| %>
    <li>
      <p>
        <h3>
          <%= link_to friend.user.full_name,  friend_path(friend)%></li>
        </h3>
        <%= friend.description %></li>
        <%= friend.location %></li>
        <%= friend.price %></li>
      </p>
    </li>
  <% end %>
</ul>