<div class="container d-flex">
  <div class="friend-info">
    <img src="https://source.unsplash.com/DQPP9rVLYGQ" alt="avatar" class="image-avatar">
    <div class="avatar-info">
      <h2>John Doe</h2>
      <p><strong>1 day:</strong> $115.95</p>
      <p>Junior Software Developer</p>
      <p class="location">Lives in Fitzroy, Melbourne</p>
    </div>
    <%= link_to "Book Now", new_friend_booking_path(@friend), class:"book-button"%>
  </div>
  <div class="interests-info">
    <div class="interests-list card">
      <p><strong>John spends most of his time on:</strong></p>
      <div class="specific-interest">
        <p><i class="fas fa-camera"></i> Photography</p>
        <p><i class="fas fa-desktop"></i> Programming</p>
        <p><i class="fas fa-swimmer"></i> Swimming</p>
        <p><i class="fas fa-plane-departure"></i> Travelling</p>
      </div>
    </div>
    <div class="description card">
    <strong><p>A bit about me...</p></strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
  </div>
</div>
